/* .test {
  padding: 20px;
  color: blueviolet;
  border: 1px dotted blue;
  background-color: aqua;
}

ul li {
  list-style-type: none;
  max-width: 100px;
  padding: 4px;
  margin: 4px auto;
  background: #eee;
  border: 1px dotted #ddd;
  transition: background-color 0.3s;
  }
  ul li:hover {
  background-color: pink;
  }
  // Creating A PopUp
  .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background: cyan;
    text-align: center;
  padding: 20px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0;
    padding: 6px 10px;
    }
    
    .popup-wrapper {
      display: none;
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
      .popup {
        font-family: Arial;
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin: 10% auto;
        padding: 20px;
        background: white;
        position: relative;
        }
        
        .popup a {
          background: blueviolet;
          color: white;
          text-decoration: none;
          padding: 6px 10px;
          }
          
          .popup-close {
            position: absolute;
            top: 5px;
            right: 8.5px;
            cursor: pointer;
            } */

body {
  background: #aaa;
}
form {
  max-width: 200px;
  margin: 40px auto;
  background: white;
  padding: 10px;
}
input {
  display: block;
  margin: 10px auto;
  padding: 4px;
  color: rgb(5, 0, 0);
}
input:hover {
  background-color: rgb(20, 186, 144);
  transition: background-color 1s;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  margin: 10px auto;
  padding: 4px;
}
.checkbox-wrapper label {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to the left of the label */
}

.paper {
  max-width: 200px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  color: rgb(20, 123, 123);
}
.success {
  border: 2px solid rgb(3, 169, 26);
}
.error {
  border: 2px solid red;
}
